<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern To-Do List</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="container">
        <h1>Verification</h1>
        <!-- Form to handle OTP -->
        <form id="verification-form"  action="aaa" method="Get">
            <div class="input-group">
                <input type="text" id="todo-input" name="email" placeholder="Enter your Email" required />
            </div>
            <button type="submit" id="add-btn" class="btn add-btn">GET OTP</button>
        </form>
        <!-- Task List -->
        <ul id="todo-list"></ul>
    </div>

    <script src="scrippt.js"></script>
</body>
</html>

